.Feed{
  width:700px;
  background-color:#65fcc2;
  box-shadow:  6px 6px 14px #56d6a5,
    -6px -6px 14px #74ffdf;
  margin:40px auto;
  padding:50px;
}
.Tweet{
  border-radius: 10px;
  background: linear-gradient(145deg,#6cffd0, #5be3af);
  box-shadow:  6px 6px 14px #56d6a5,
    -6px -6px 14px #74ffdf;
  margin: 30px;
  padding:20px;
  overflow:hidden;
}
.Tweet img{
  display: block;
  max-width: 400px;
  margin: auto;
}

.FormTweet{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:20px;
  }
.Textarea{
  resize:none;
  padding: 20px;
  border-radius:10px;
  color:green;
  background-color: LightGoldenrodYellow;
  width:80%;
}
