.Feed{
  width:700px;
  background-color:#65fcc2;
  box-shadow:  6px 6px 14px #56d6a5,
    -6px -6px 14px #74ffdf;
  margin:40px auto;
  padding:50px;
}
.Tweet{
  display: grid;
  grid-template-columns: 70px auto;
  grid-gap: 10px;
  border-radius: 10px;
  background: linear-gradient(145deg,#6cffd0, #5be3af);
  box-shadow:  6px 6px 14px #56d6a5,
    -6px -6px 14px #74ffdf;
  margin: 30px;
  padding:20px;
  overflow:hidden;
}
.Tweet aside{
  grid-row:span 3;
}
.Tweet img{
  display: block;
  max-width: 400px;
  margin: auto;
}

.profile{
  display:block;
  width:50px;
}

.FormTweet{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:20px;
  padding: 20px;
  border-radius:10px;
  border: solid;
  background-color: LightGoldenrodYellow;
  }
.Textarea{
  resize:none;
  focus:none;
  border : none;
  color:green;
  font-size: 1rem;
  background-color: transparent;
  width:80%;
}
.Textarea:focus{
  outline:none
}
input[type=submit]{
  border-radius:20px;
  padding: 10px;
  border:solid 2px green ;
  background-color: rgb(0, 156, 98);
  color:#fff;
  font-weight: bold;
}

