
.Tweet{
  display: grid;
  grid-template-columns: 70px auto;
  grid-gap: 10px;
  border-radius: 10px;
  background: linear-gradient(145deg,#6cffd0, #5be3af);
  box-shadow:  6px 6px 14px #56d6a5,
    -6px -6px 14px #74ffdf;
  margin: 30px;
  padding:20px;
  overflow:hidden;
  transition:0.5s;
  opacity:0;
}
.Tweet aside{
  grid-row:span 3;
}
.Tweet img{
  display: block;
  max-width: 400px;
  margin: auto;
}
.profile{
  display:block;
  width:50px;
}
